*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-salmon{
  background-color: salmon;
}

.bg-html{
    background-color: rgb(230, 75, 57);
}

.bg-css{
  background-color: cornflowerblue;
}

.bg-js{
  background-color: rgb(111, 211, 11);
}

.bg-bs{
  background-color: #563D7C;
}

.bg-vue{
  background-color: #4FC08D;
}

.circle{
  border-radius: 50%;
  object-fit: cover;
}

.header-title{
  width: 400px;
  font-weight: 400;
  line-height: 1.75;
  /* text-align: left; */
}

.header-job{
  letter-spacing: 10px;
}

.icon .material-icons-outlined{
  font-size: 80px;
  line-height: 1.5;
}

.subject-title{
  text-align: center;
  letter-spacing: 3px;
}

.line{
  background-color: salmon;
  width: 10px;
  border-radius: 10px;
}

.description{
    width:300px;
    margin:10px 0 10px 0;
}

.footer{
  margin: 3rem 0;
  width: 80%;
  height: auto;
  background-color: salmon;
  border-radius: 10px;
  font-size: 20px;
}

.footer-description{
  color: white;
  padding: 1.5rem;
}

.progress-bar {
    width: 0;
}


@media screen and (max-width:767px){
    .header-title{
        width: 350px;
        padding-top: 2rem;
    }

    .line{
        width: 70%;
        height: 10px;
        margin: 30px 0;
    }
}